.page-header
  %h1= @project.slug

%table.table
  %thead
    %tr
      %th Time
      %th= ProjectCheckLog.human_attribute_name :red_count
      %th= ProjectCheckLog.human_attribute_name :dependency_count
      %th Red rate
  %tbody
    - @project.project_check_logs.includes(:check_log).order(created_at: :desc).take(10).each do |project_check_log|
      %tr
        %td= project_check_log.check_log.created_at
        %td= project_check_log.red_count
        %td= project_check_log.dependency_count
        %td #{project_check_log.red_rate}%
